body {
    width: 50vw;
    margin: auto;
}

header {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 3em;
}

article {
    background-color: aquamarine;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

div {
    border: 1px solid black;
    margin-top: 10px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}